@model viewbag.Models.CustormUser

@{
    ViewData["Title"] = "signup";
}

<h1>signup</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CUser.Name" class="control-label"></label>
                <input asp-for="CUser.Name" class="form-control" />
                <span asp-validation-for="CUser.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUser.Email" class="control-label"></label>
                <input asp-for="CUser.Email" class="form-control" />
                <span asp-validation-for="CUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUser.Password" class="control-label"></label>
                <input asp-for="CUser.Password" class="form-control" />
                <span asp-validation-for="CUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUser.RoleId" class="control-label"></label>
                <select asp-for="CUser.RoleId" class ="form-control" asp-items="ViewBag.RoleId">
                    @foreach(var item in Model.CRole)
                    {
                        <option value="@item.RoleId">@item.RoleName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Signup" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="login">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
